In [ ]:
#convert list into  DataFrame

In [3]:
import pandas as pd

data = [[0, 1, 2],[3, 4, 5]]
df = pd.DataFrame(data)
print(df)

   0  1  2
0  0  1  2
1  3  4  5

In [ ]:
#convert numpy to  DataFrame

In [16]:
import numpy as np
import pandas as pd
np_array = np.array([10, 20, 30, 40, 50])
print("Np array:")
print(np_array)
new_series = pd.Series(np_array)
print(new_series)

Np array:
[10 20 30 40 50]
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
#Convert the Dictionary to a DataFrame

In [9]:
from pandas import DataFrame

my_dict = {'Computer':1500,'Monitor':300,'Printer':150,'Desk':250}
df = DataFrame(list(my_dict.items()),columns = ['Products','Prices']) 

print (df)

   Products  Prices
0  Computer    1500
1   Monitor     300
2   Printer     150
3      Desk     250

In [ ]:
#convert list to dat

In [10]:
from pandas import DataFrame

products = {'Product': ['Tablet','iPhone','Laptop','Monitor'],
            'Price': [250,800,1200,300]
            }

df = DataFrame(products, columns= ['Product', 'Price'])

products_list = df.values.tolist()
print (products_list)

[['Tablet', 250], ['iPhone', 800], ['Laptop', 1200], ['Monitor', 300]]

In [ ]:
#convert pandas to numpy

In [12]:
import numpy as np
import pandas as pd

index = [1, 2, 3, 4, 5, 6, 7]
a = [np.nan, np.nan, np.nan, 0.1, 0.1, 0.1, 0.1]
b = [0.2, np.nan, 0.2, 0.2, 0.2, np.nan, np.nan]
c = [np.nan, 0.5, 0.5, np.nan, 0.5, 0.5, np.nan]
df = pd.DataFrame({'A': a, 'B': b, 'C': c}, index=index)
df = df.rename_axis('ID')
print(df)

      A    B    C
ID
1   NaN  0.2  NaN
2   NaN  NaN  0.5
3   NaN  0.2  0.5
4   0.1  0.2  NaN
5   0.1  0.2  0.5
6   0.1  NaN  0.5
7   0.1  NaN  NaN

In [ ]:
#the columns in Pandas DataFrame

In [1]:

import pandas as pd 
   
rankings = {'test': ['India', 'South Africa', 'England', 
                            'New Zealand', 'Australia'], 
              'odi': ['England', 'India', 'New Zealand', 
                            'South Africa', 'Pakistan'], 
               't20': ['Pakistan', 'India', 'Australia', 
                              'England', 'New Zealand']} 
   

rankings_pd = pd.DataFrame(rankings) 
   

print(rankings_pd.columns)

Index(['test', 'odi', 't20'], dtype='object')

In [ ]:
#print column name to the pandas

In [ ]:
change the culm name

In [2]:
import pandas as pd 
df=pd.read_csv("age_cul.csv")
print(df)

   age  weight  height  stanuthu
0    3      10     5.0     42.25
1   10      22     5.3     74.31
2   30      68     6.0    103.72
3   35      70     7.0    131.70
4   45      65     6.5    158.75
5   50      72     7.2    185.12
6   33      68     6.8    198.34
7   55      72     7.2    123.45
8   60      88     7.5    132.45

In [ ]:
#change the datatype of the colms in pandas

In [1]:
# importing pandas as pd 
import pandas as pd 


df = pd.DataFrame({ 
    'A': [1, 2, 3, 4, 5], 
	'B': ['a', 'b', 'c', 'd', 'e'], 
	'C': [1.1, '1.0', '1.3', 2, 5] }) 


df = df.astype(str) 
print(df.dtypes) 
print(df)

A    object
B    object
C    object
dtype: object
   A  B    C
0  1  a  1.1
1  2  b  1.0
2  3  c  1.3
3  4  d    2
4  5  e    5

In [ ]:
#concatenate two dataframe

In [6]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                          'B': ['B0', 'B1', 'B2', 'B3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']},
                           index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                           'B': ['B4', 'B5', 'B6', 'B7'],
                           'C': ['C4', 'C5', 'C6', 'C7'],
                           'D': ['D4', 'D5', 'D6', 'D7']},
                            index=[4, 5, 6, 7])
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                           'B': ['B8', 'B9', 'B10', 'B11'],
                            'C': ['C8', 'C9', 'C10', 'C11'],
                            'D': ['D8', 'D9', 'D10', 'D11']},
                            index=[8, 9, 10, 11])

frames = [df1, df2, df3]
result = pd.concat(frames)


# next cell
result = pd.concat([df1,df2])

In [ ]:
#choose one culm from the dataframe

In [7]:
import pandas as pd

df =pd.read_csv("age_cul.csv")
print(df)

   age  weight  height  stanuthu
0    3      10     5.0     42.25
1   10      22     5.3     74.31
2   30      68     6.0    103.72
3   35      70     7.0    131.70
4   45      65     6.5    158.75
5   50      72     7.2    185.12
6   33      68     6.8    198.34
7   55      72     7.2    123.45
8   60      88     7.5    132.45

In [17]:
df['age'] #choose one column name

0     3
1    10
2    30
3    35
4    45
5    50
6    33
7    55
8    60
Name: age, dtype: int64

In [ ]:
#choose multiple data from the dataframe

In [18]:

import pandas as pd 
  
                                                    
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 
  

df = pd.DataFrame(data) 
  
df[['Name', 'Qualification']]  #choose multiple data from the dataframe

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [ ]:
#sorting the dataframe multiple columns

In [19]:
from pandas import DataFrame
 
Cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = DataFrame(Cars, columns= ['Brand', 'Price','Year'])

print (df)

            Brand  Price  Year
0     Honda Civic  22000  2015
1  Toyota Corolla  25000  2013
2      Ford Focus  27000  2018
3         Audi A4  35000  2018

In [21]:
df.sort_values(by=['Brand'], inplace=True)
print(df)   #sorting the dataframe multiple  columns

            Brand  Price  Year
3         Audi A4  35000  2018
2      Ford Focus  27000  2018
0     Honda Civic  22000  2015
1  Toyota Corolla  25000  2013

In [ ]:
#describe the dataset of pandas

In [ ]:
import numpy as np
import pandas as pd

In [22]:
df =pd.read_csv("age_cul.csv")
df.describe() #describe the dataset of pandas

             age     weight   height    stanuthu
count   9.000000   9.000000  9.00000    9.000000
mean   35.666667  59.444444  6.50000  127.787778
std    19.442222  25.656925  0.88459   50.043680
min     3.000000  10.000000  5.00000   42.250000
25%    30.000000  65.000000  6.00000  103.720000
50%    35.000000  68.000000  6.80000  131.700000
75%    50.000000  72.000000  7.20000  158.750000
max    60.000000  88.000000  7.50000  198.340000

In [ ]:
#filtering the dataset of pandas

In [24]:
df =pd.read_csv("age_cul.csv")
print(df)

   age  weight  height  stanuthu
0    3      10     5.0     42.25
1   10      22     5.3     74.31
2   30      68     6.0    103.72
3   35      70     7.0    131.70
4   45      65     6.5    158.75
5   50      72     7.2    185.12
6   33      68     6.8    198.34
7   55      72     7.2    123.45
8   60      88     7.5    132.45

In [25]:
df = df.query('stanuthu>131.70')
print(df) #filtering the dataset of pandas

   age  weight  height  stanuthu
4   45      65     6.5    158.75
5   50      72     7.2    185.12
6   33      68     6.8    198.34
8   60      88     7.5    132.45

In [ ]:
--------------file convert to pandas xlsx,csv--------------------

In [ ]:
#pandas data convert to xlsx sheet

In [26]:
import pandas as pd  
# create dataframe  
info_marks = pd.DataFrame({'name': ['Parker', 'Smith', 'William', 'Terry'],  
     'Maths': [78, 84, 67, 72],  
     'Science': [89, 92, 61, 77],  
     'English': [72, 75, 64, 82]})  

writer = pd.ExcelWriter('output.xlsx')  
info_marks.to_excel(writer)  
writer.save()  
print('DataFrame is written successfully to the Excel File.')

DataFrame is written successfully to the Excel File.

In [ ]:
#pandas data convert to csv file

In [28]:
import pandas as pd  
data = {'Name': ['Smith', 'Parker'], 'ID': [101, 102], 'Language': ['Python', 'JavaScript']}  
info = pd.DataFrame(data)  
print('DataFrame Values:\n', info)  
# default CSV  
csv_data = info.to_csv()  
print('\nCSV String Values:\n', csv_data)

DataFrame Values:
      Name   ID    Language
0   Smith  101      Python
1  Parker  102  JavaScript

CSV String Values:
 ,Name,ID,Language
0,Smith,101,Python
1,Parker,102,JavaScript

In [ ]:
choose multiple data from thedata frame

In [2]:
import pandas as pd

df =pd.read_csv("age_cul.csv")
print(df)

   age  weight  height  stanuthu
0    3      10     5.0     42.25
1   10      22     5.3     74.31
2   30      68     6.0    103.72
3   35      70     7.0    131.70
4   45      65     6.5    158.75
5   50      72     7.2    185.12
6   33      68     6.8    198.34
7   55      72     7.2    123.45
8   60      88     7.5    132.45

In [4]:
df.values  # print the colums values

array([[  3.  ,  10.  ,   5.  ,  42.25],
       [ 10.  ,  22.  ,   5.3 ,  74.31],
       [ 30.  ,  68.  ,   6.  , 103.72],
       [ 35.  ,  70.  ,   7.  , 131.7 ],
       [ 45.  ,  65.  ,   6.5 , 158.75],
       [ 50.  ,  72.  ,   7.2 , 185.12],
       [ 33.  ,  68.  ,   6.8 , 198.34],
       [ 55.  ,  72.  ,   7.2 , 123.45],
       [ 60.  ,  88.  ,   7.5 , 132.45]])

In [5]:
df.columns #print the columns name

Index(['age', 'weight', 'height', 'stanuthu'], dtype='object')

In [6]:
df.index #print the index value

RangeIndex(start=0, stop=9, step=1)